# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id
**/pubspec.lock

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android
/android/app/debug
/android/app/profile
/android/app/release
android/app/google-services.json

# iOS
ios/Runner/GoogleService-Info.plist
ios/Podfile.lock
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/

# macOS
macos/Runner/GoogleService-Info.plist
macos/Pods/
macos/.symlinks/

# Windows
windows/build/

# Xcode Project Generated
ios/Runner.xcworkspace/
macos/Runner.xcworkspace/
